@import '@/style.css';

.clef {
  margin-top: 40px;
  display: flex;
  background-color: var(--jaune400);
  width: 130px;
  height: 32px;
  justify-content: space-between;
  border-radius: 40px;
  font-size: 16px;
}

img {
  width: 32px;
  height: 32px;
  align-self: center;
  margin-right: 25px;
}

.clef > p {
  align-self: center;
  margin-left: 25px;
}
