:root {
  --blanc50: #fefde8;
  --jaune100: #fffcc2;
  --jaune200: #fff687;
  --jaune300: #ffe943;
  --jaune400: #ffda22;
  --orange400: #ffb332;
  --orange500: #ff9a0a;
  --orange600: #ff8201;
  --orange700: #cc5e02;
  --orange800: #a1490b;
  --orange900: #823e0c;
  --rouge400: #ff6464;
  --rouge500: #ff4949;
  --rouge600: #ed1515;
  --rouge700: #c80d0d;
  --rouge800: #a50f0f;
  --rouge900: #881414;
  --onyx: #32373b;
  --vert: #179d10;
}

main {
  background-color: var(--blanc50);
  color: var(--onyx);
}

aside {
  background-color: var(--jaune200);
  color: var(--onyx);
}

header {
  background: linear-gradient(90deg, var(--orange400), var(--orange500));
  transition: width 0.3s ease;
}

header > div {
  color: var(--onyx);
}
