.trouvés {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(var(--jaune400));
  width: 18vw;
  height: 7.5vh;
  border-radius: 30px;
  align-items: center;
  padding-left: 4%;
  padding-right: 2%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.trouvés:hover {
  outline: 3px solid rgb(var(--orange800));
}

.trouvés:hover > p:nth-child(1) {
  color: rgb(var(--orange800));
}

.trouvés > p:nth-child(1) {
  grid-column: 1/2;
  color: rgb(var(--onyx));
  font-family: 'Mako';
  font-size: 120%;
}

.trouvés > p:nth-child(2) {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  width: 5vh;
  height: 5vh;
  font-size: 200%;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  justify-self: end;
  cursor: pointer;
}

.trouvés > p:nth-child(2):hover {
  background-color: rgb(var(--orange800));
  color: rgb(var(--blanc50));
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
