@import './style.css';

.ami {
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--jaune200));
  width: 25vw;
  height: 8vh;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 1%;
}

.ami p {
  color: rgb(var(--onyx));
  font-family: 'Mako';
  font-size: 150%;
}

.ami_option {
  width: 7vh;
  height: 7vh;
  background-color: rgb(var(--orange400));
  border-radius: 50px;
}

.ami_option > p {
  color: rgb(var(--blanc50));
  font-size: 2.2rem;
  margin: 0px;
  text-align: center;
  line-height: 0.75;
}
