.pop_up_pp {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 70vh;
  align-items: center;
  background-color: rgb(var(--jaune300));
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.pop_up_pp img {
  aspect-ratio: 1 / 1;
  border-radius: 90px;
}

.entete {
  width: 80vws;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.entete > img {
  width: 8%;
}

.entete > p {
  font-size: 1.5vw;
  margin-right: 24px;
}

.liste_pp {
  max-width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding-top: 4vh;
  padding-right: 10%;
  padding-left: 10%;
  gap: 2vw;
  overflow-y: auto; /* Rend l'élément scrollable */
  overflow-x: hidden;
  justify-content: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
}

.liste_pp {
  /* ... tes autres propriétés ... */
  overflow-y: auto;
}

/* Pour Chrome, Edge, Safari */
.liste_pp::-webkit-scrollbar {
  width: 0.6vw; /* Largeur de la scrollbar */
}

.liste_pp::-webkit-scrollbar-track {
  background: none; /* Couleur de fond de la piste */
}

.liste_pp::-webkit-scrollbar-thumb {
  background: rgb(var(--orange800)); /* Couleur du curseur */
  border-radius: 10px;
}

.liste_pp::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--orange900)); /* Couleur au survol */
}

.liste_pp img {
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.active {
  border: 5px solid rgb(var(--orange500));
  transform: scale(1.1);
}

.boutons_pp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 10%;
}

#b_confirmer {
  width: 40%;
  height: 60%;
  border: none;
  background-color: rgb(var(--vert));
  color: rgb(var(--blanc50));
}

#n_confirmer {
  width: 40%;
  height: 60%;
  border: none;
  background-color: rgb(var(--onyx));
  color: rgb(var(--blanc50));
  cursor: default;
}

#b_annuler {
  width: 40%;
  height: 60%;
  border: none;
  background-color: rgb(var(--rouge600));
  color: rgb(var(--blanc50));
}
