@import './style.css';

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 12.5vh;
  width: 100%;
}

img#imageCarreTerrain {
  border-radius: 20px;
}

.pop_up_ff {
  position: absolute;
  position: fixed;
  z-index: 112;
  display: flex;
  align-items: center;
  width: 100%;
  height: 87.5vh;
  justify-content: center;
  background-color: rgba(var(--onyx), 0.5);
}

.pop_up_ff > img {
  max-height: 80vh;
  max-width: 50vw;
}

.page_combat {
  height: var(
    --hPage
  ); /*70% des 87.5vh du main de "base" (donc de l'espace restant sur l'ecran sous le header*/
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: var(--hPage);

  position: fixed;
  z-index: 0;
}

/*------------Forces et faiblesses-------------*/
.F_f {
  grid-column: 1;
  justify-self: start;
  align-self: end;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  width: 80%;
  height: 60%;

  margin-bottom: 5%;
}

.F_f > button {
  font-family: 'Mako';
  color: rgb(var(--onyx));
  background-color: rgb(var(--jaune300));
  width: 85%;
  height: 17%;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}

.F_f > button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.F_f > button:active {
  background-color: rgb(var(--orange700));
  box-shadow: 0 1px 3px rgba(var(--onyx), 0.5);
}

.F_f > img {
  height: 40%;
  max-width: 40vw;
  padding: 5%;
}

/*------------Lancement partie-------------*/
.lancement_partie {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.lancement_partie a {
  text-decoration: none;
}

.lancement_partie button {
  font-family: 'Mako';
  color: rgb(var(--onyx));
  background-color: rgb(var(--orange400));
  width: 14vw;
  border: none;
  border-radius: 25px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lancement_partie button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.lancement_partie button:active {
  background-color: rgb(var(--orange700));
  box-shadow: 0 1px 3px rgba(var(--onyx), 0.5);
}

.lancement_partie > img {
  max-width: 40vh;
  height: 60%;
  margin: 2%;
}

/*-------------Compteur--------------*/
.Compteur {
  grid-column: 3;
  width: 11.5vw;

  justify-self: end;
}

/*-------------Deck---------------*/
.deck {
  height: 318px; /*278px pour la hauteur de la carte, 20px de marge en haut et en bas*/
  background-color: rgb(var(--jaune200));
  width: 100%;
  padding: 0 1% 0 1%;
  box-sizing: border-box; /*permet que le width soit vraiment la valeur de width et pas width+padding+border, le contenu s'adapte*/

  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 2% 14% 14%;
  grid-template-rows: 20px 1fr;

  margin-top: var(--hPage);
  z-index: 2;

  position: sticky; /*pour qu'il colle quand il arrive juste en dessous du header*/
  top: 12vh;
  left: 0;
  right: 0;
}

.deck > p {
  grid-row: 1;

  display: flex;
  align-items: center;
  justify-self: center;

  font-size: 1rem;
  font-family: 'Mako';
  margin: 0;
  padding-top: 5%;
}

.deck > p:first-of-type {
  grid-column: 1;
}

.deck > p:nth-of-type(2) {
  grid-column: 7;
}

.deck > p:nth-of-type(3) {
  grid-column: 8;
}

.carte {
  grid-row: 2;

  justify-self: center;
  align-self: center;
}

.carteMembreDeck {
  grid-row: 2;
  height: calc(1.39 * 200px);
  width: 200px;

  justify-self: center;
  align-self: center;
}

.carteMembreDeck > img {
  max-width: 200px;
  max-height: 278px;
}

.deck > .separateur {
  grid-column: 6;
  grid-row: 1/-1;
}

.separateur {
  width: 5px;
  height: 100%;
  background-color: rgb(var(--orange400));
  justify-self: center;
}
.carte:nth-of-type(6) {
  grid-column: 7;
}

.deck > .carte:last-child {
  grid-column: 8;
}

.deck > img {
  max-width: 200px;
  max-height: 278px;
  justify-self: center;
  align-self: center;
}

#familier {
  grid-column: 7;
}

#terrain {
  grid-column: 8;
}
/*-----------------Séparateur-------------------*/
.separateurDeckCollection {
  height: 6px;
  width: 100%;
  background-color: rgb(var(--orange400));

  position: sticky;
  top: calc(var(--vhPx) * 12 + 318px);

  z-index: 2;
}

/*-----------------Partie Collection---------------------*/
.collection {
  width: 100%;
  height: auto;

  background-color: rgb(var(--jaune200));
  padding: 0 1% 0 1%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 70% 2% 14% 14%;

  z-index: 1;
}

.collecMembre {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-sizing: border-box;
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  margin-top: 20px;
  row-gap: 12px;
}

.collecMembre .carte {
  grid-row: auto !important;
  grid-column: auto !important;
}

.membre {
  justify-self: center;
  align-self: center;
}

.collecFamilier {
  grid-column: 3/4;
}

.collecFamilier,
.collecTerrain {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: start;

  width: 100%;
  margin: 20px auto 10px auto;
}

.collecTerrain {
  grid-column: 4/5;
}

.collection > .separateur {
  grid-column: 2/3;
}

.selection {
  border: 3px solid rgb(var(--rouge600));
  border-radius: 7px;
  position: relative;
}

.dansDeck {
  position: relative;
}

.dansDeck::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 3;
  border-radius: 5px;
  border-radius: 5px;

  background: rgba(var(--rouge700), 0.4);
}

.carte:not(.dansDeck),
.deck > img,
.deck > .carteMembreDeck > img {
  cursor: pointer;
}
