@import './style.css';

#Combat {
  display: flex;
  flex-direction: column;
}

.page_combat {
  height: 70%;
  display: flex;
  flex-direction: row;
}

.F_f {
  width: 23.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.F_f > button {
  font-family: 'Mako';
  color: rgb(var(--onyx));
  background-color: rgb(var(--jaune300));
  width: 14vw;
  height: 6vh;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
}

.F_f > button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.F_f > button:active {
  background-color: rgb(var(--orange700));
  box-shadow: 0 1px 3px rgba(var(--onyx), 0.5);
}

.F_f > img {
  width: 10vw;
  height: 10vw;
  margin: 0px;
}

.lancement_partie {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  justify-content: center;
}

.lancement_partie > button {
  font-family: 'Mako';
  color: rgb(var(--onyx));
  background-color: rgb(var(--orange400));
  width: 14vw;
  height: 6vh;
  border: none;
  border-radius: 25px;
  font-size: 1.8rem;
}

.lancement_partie > button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.lancement_partie > button:active {
  background-color: rgb(var(--orange700));
  box-shadow: 0 1px 3px rgba(var(--onyx), 0.5);
}

.lancement_partie > img {
  width: 14vw;
  height: 14vw;
  margin: 0px;
}

.Compteur {
  width: 11.5vw;
}

.deck {
  height: 30vh;
  background-color: rgb(var(--jaune200));
}
