.page_chargement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.non_deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 50vh;
  gap: 16px;
  margin-bottom: 0;
}

.vague {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.espaces {
  min-width: 0.5em; /* Largeur de l'espace */
}

.page_chargement h2 {
  display: inline-block;
  animation: wave s ease-in-out infinite;
  justify-self: center;
  font-size: 3vw;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.page_chargement button {
  width: 18vw;
  height: 5vh;
  background-color: rgb(var(--orange500));
  color: rgb(var(--blanc50));
  border: none;
}

.page_chargement h3 {
  font-size: 1.8vw;
  font-family: 'Mako';
}

.chargement_deck {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  gap: 4vw;
  justify-content: space-evenly;
  justify-items: flex-end;
}

.duel_principale {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--blanc50));
  height: 100vh;
  justify-content: center;
}

.duel_principale > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#abandon {
  position: absolute;
  z-index: 10;
  align-self: center;
  justify-self: center;
}

.stats {
  display: grid;
  grid-template-rows: 1fr 0.2fr 0.2fr 0.2fr 1fr;
  width: 15vw;
  z-index: 1;
}
.temps {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.temps > img {
  width: 9vw;
  height: 11vw;
  animation: rotation 2s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(180deg); /* Pause ici */
  }
  100% {
    transform: rotate(180deg);
  }
}

.temps > p {
  color: rgb(var(--orange600));
  font-size: 1.5vw;
  margin-top: 0px;
}

.temps > button {
  background-color: rgb(var(--orange600));
  color: rgb(var(--blanc50));
  border: none;
  width: 70%;
}

.stats > span:nth-child(2) {
  justify-self: center;
  align-self: flex-end;
  font-size: 2.5rem;
  color: rgb(var(--orange600));
}

.stats > span:nth-child(3) {
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  color: rgb(var(--orange600));
}

.stats > button {
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 70%;
  background-color: rgb(var(--rouge700));
  color: rgb(var(--blanc50));
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}

.stats > button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.jauge_fond {
  position: relative;
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  background-color: rgb(var(--onyx));
  width: 20%;
  height: 70%;
  border-radius: 40px;
}

.jauge_énergie {
  position: absolute;
  display: flex;
  align-self: end;
  background: linear-gradient(0deg, rgb(var(--rouge700)), rgb(var(--rouge500)));
  width: 100%;
  height: var(--jauge_energie);
  border-radius: 40px 40px 40px 40px;
}

.jauge_fond > span {
  display: flex;
  position: absolute;
  color: rgb(var(--blanc50));
  align-self: center;
  margin: auto;
  font-size: 200%;
}

.cartes_combat {
  display: flex;
  flex-direction: column;
  width: 85vw;
  z-index: 1;
}

.mon_deck,
.son_deck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.son_deck {
  justify-items: center;
}

.mon_deck {
  justify-items: center;
}

.mon_deck > .carte,
.son_deck > .carte {
  align-self: flex-end;
  margin-bottom: 10px;
}

.familier {
  justify-items: center;
  align-self: flex-end;
  background-color: rgba(var(--onyx), 0.8);
  padding: 10px;
  border-radius: 8px;
}

.familier > p {
  font-size: 1.1vw;
  color: rgb(var(--blanc50));
  margin-top: 0;
  margin-bottom: 4px;
}

.carte_de_combat {
  position: relative;
}

.carte_de_combat img {
  position: absolute;
  width: 25%;
  aspect-ratio: 1 / 1;
  z-index: 1;
  top: 30%;
  left: 82%;
}

.son_deck > .familier,
.son_deck > .carte {
  grid-row: 1/2;
}

.son_deck > .pv_barre {
  grid-row: 2/3;
}

.mon_deck > .familier,
.mon_deck > .carte {
  grid-row: 1/2;
}

.mon_deck > .pv_barre {
  grid-row: 2/3;
}

.mon_deck > .pv_barre:nth-child(3) {
  grid-column: 2/3;
}

.son_deck > .pv_barre:nth-child(3) {
  grid-column: 2/3;
}

.mon_deck > .pv_barre:nth-child(5) {
  grid-column: 3/4;
}

.son_deck > .pv_barre:nth-child(5) {
  grid-column: 3/4;
}

.mon_deck > .pv_barre:nth-child(7) {
  grid-column: 4/5;
}

.son_deck > .pv_barre:nth-child(7) {
  grid-column: 4/5;
}

.mon_deck > .pv_barre:nth-child(9) {
  grid-column: 5/6;
}

.son_deck > .pv_barre:nth-child(9) {
  grid-column: 5/6;
}

.mon_deck > .pv_barre:nth-child(11) {
  grid-column: 6/7;
}

.son_deck > .pv_barre:nth-child(11) {
  grid-column: 6/7;
}

.boutons_tour {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-row: 3/4;
  grid-column: 2/7;
  grid-row: span 5;
  width: 100%;
}

.boutons_tour > button {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background-color: rgb(var(--orange600));
  border: none;
  color: rgb(var(--blanc50));
  border-radius: 90px;
  font-size: 1.3rem;
  height: 4vw;
  width: auto;
  padding: 16px;
}

.boutons_tour > button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.boutons_tour > button > p {
  font-size: 0.8rem;
  margin: 0;
}

#changement_carte {
  border-radius: 40px;
}

#changement_carte > img {
  width: 100%;
  height: 100%;
}

.membre_pop_up {
  position: fixed; /* inset-0 */
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}

.membre_carte {
  position: relative;
  animation: scale-in 0.2s ease-out;
}

.familier_pop_up {
  position: fixed; /* inset-0 */
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
}

.familier_carte {
  position: relative;
  animation: scale-in 0.2s ease-out;
}

@keyframes scale-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.change_carte {
  cursor: pointer;
}

.change_carte:hover {
  transform: scale(1.1);
}
