@import './style.css';

.relative {
  perspective: 600px;
}

.toutes_les_cartes {
  position: absolute;
  cursor: grab;
  cursor: grabbing;
}

.toutes_les_cartes:active {
  cursor: grabbing;
}

.carte_barre {
  border-radius: 1rem;
  border-width: 4px;
  border-color: white;
}

.composant_crt {
  width: 100%;
  height: 100%;
}
