:root {
  --blanc50: 254, 253, 232;
  --jaune100: 255, 252, 194;
  --jaune200: 255, 252, 135;
  --jaune300: 255, 233, 67;
  --jaune400: 255, 218, 34;
  --orange400: 255, 179, 50;
  --orange500: 255, 154, 10;
  --orange600: 255, 130, 1;
  --orange700: 204, 94, 2;
  --orange800: 161, 73, 11;
  --orange900: 130, 62, 12;
  --rouge400: 255, 100, 100;
  --rouge500: 255, 73, 73;
  --rouge600: 237, 21, 21;
  --rouge700: 200, 13, 13;
  --rouge800: 165, 15, 15;
  --rouge900: 136, 20, 20;
  --onyx: 50, 55, 59;
  --vert: 23, 157, 16;
  --vertclair: 63, 235, 54;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--blanc50)); /* fond global */
}

@font-face {
  font-family: 'Lusitana';
  src: url('../fonts/Lusitana-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mako';
  src: url('../fonts/Mako-Regular.ttf') format('truetype');
}

body {
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  /*vise la div implentée par vueJS, équivalent du body en html classique*/
  color: rgb(var(--onyx));
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*jusque aside, permet de prendre tout l'espace dispo en dessous du header
pour cela il faut avoir, une div contenant le aside et main (mais pas le header !)*/
#app > div {
  display: flex;
  flex: 1;
}

main {
  height: 87.5%;
}

aside {
  background-color: rgb(var(--jaune200));
  color: rgb(var(--onyx));
  flex: 1;
}

header {
  background: linear-gradient(
    90deg,
    rgb(var(--orange400)),
    rgb(var(--orange500))
  );
  transition: width 0.3s ease;
  height: 12.5%;
}

header > * {
  color: rgb(var(--onyx));
  text-align: center;
  font-family: 'Lusitana', sans-serif;
  font-weight: normal;
}

a,
button {
  cursor: pointer;
}
