:root {
  --blanc50: #fefde8;
  --jaune100: #fffcc2;
  --jaune200: #fff687;
  --jaune300: #ffe943;
  --jaune400: #ffda22;
  --orange400: #ffb332;
  --orange500: #ff9a0a;
  --orange600: #ff8201;
  --orange700: #cc5e02;
  --orange800: #a1490b;
  --orange900: #823e0c;
  --rouge400: #ff6464;
  --rouge500: #ff4949;
  --rouge600: #ed1515;
  --rouge700: #c80d0d;
  --rouge800: #a50f0f;
  --rouge900: #881414;
  --onyx: #32373b;
  --vert: #179d10;
}

@font-face {
  font-family: 'Lusitana';
  src: url('../fonts/Lusitana-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mako';
  src: url('../fonts/Mako-Regular.ttf') format('truetype');
}

body {
  height : 100vh;
  margin : 0;
  padding : 0
}

#app { /*vise la div implentée par vueJS, équivalent du body en html classique*/
  background-color: var(--blanc50);
  color: var(--onyx);
  display :flex;
  flex-direction: column;
  height : 100%;
}


/*jusque aside, permet de prendre tout l'espace dispo en dessous du header
pour cela il faut avoir, une div contenant le aside et main (mais pas le header !)*/
#app > div {
  display : flex;
  flex : 1;
}

main {
  flex : 1;
}

aside {
  background-color: var(--jaune200);
  color: var(--onyx);
  flex : 1;
}

header {
  background: linear-gradient(90deg, var(--orange400), var(--orange500));
  transition: width 0.3s ease;
  height : 12.5%;
}

header > * {
  color: var(--onyx);
  text-align: center;
  font-family: 'Lusitana', sans-serif;
  font-weight: normal;
}

